{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{titles}}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></head>
<style href="{% static "css/base.css" %}">
    .links{
        margin-top: 10px;
        margin-left: 20%;
    }
    a{
     margin-left: 20px;
    }
</style>
<body>
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-info">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto" style="list-style-type: none">
                            <li class="nav-item active" style="border-bottom: blue; box-sizing: border-box">
                                <a class="nav-link" href="{% url 'list_display' %}">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'create_display' %}">create</a>
                            </li>

                            <li class="nav-item active ">
                                <a class="nav-link" href="{% url 'list_page'  %}">Back</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {% block cotainer %}

    {% endblock %}
<script type="text/javascript" charset="UTF-32">
    $(document).ready(function () {
        $('.slider').slider({full_width:true});
    });
</script>
</body>
</html>